// Estilos específicos del componente de notificaciones
// La mayoría de estilos están en TailwindCSS en el HTML

::ng-deep {
  .p-popover {
    border-radius: 0.75rem;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
      0 10px 10px -5px rgba(0, 0, 0, 0.04);
  }

  .p-popover-content {
    padding: 0;
  }
}

